.profile-image { align: left; margin-right: 0.5em; }
.header-info {  }
.comment { margin-top: 0.5em; }
.thread { margin-top: 1em; }

@font-face {
  font-family: "Symbola";
  src: local("Symbola"), url("Symbola.ttf");
}

@font-face {
  font-family: "FreeSans";
  src: local("FreeSans"), url("FreeSans.woff");
}

@font-face {
  font-family: "Lohit Telugu";
  src: local("Lohit Telugu", url("LohitTelugu.woff")
}

@font-face {
  font-family: "Droid Sans Fallback Full";
  src: local("Droid Sans Fallback Full"), url("DroidSansFallbackFull.ttf")
}

body { font-family: sans-serif, "Symbola", "FreeSans", "Lohit Telugu",
                    "Droid Sans Fallback Full"; }

/* Moieties. */
.belltower .comment-header-box {
    background-color: #aaccaa;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.binary_heat .comment-header-box {
    background-color: #ccaacc;
    border-bottom: 1px solid #ff9999;
    border-right: 1px solid #ff9999;
}

.aestrices .comment-header-box {
    background-color: #aaaacc;
    border-bottom: 1px solid #ff9999;
    border-right: 1px solid #ff9999;
}
