.profile-image { align: left; margin-right: 0.5em; }
.header-info {  }
.comment { margin-top: 0.5em; }
.thread { margin-top: 1em; }

@font-face {
  font-family: "Symbola";
  src: local("Symbola"), url("fonts/Symbola.ttf");
}

@font-face {
  font-family: "FreeSans";
  src: local("FreeSans"), url("fonts/FreeSans.woff");
}

@font-face {
  font-family: "Lohit Telugu";
  src: local("Lohit Telugu"), url("fonts/Lohit-Telugu.woff");
}

@font-face {
  font-family: "Droid Sans Fallback Full";
  src: local("Droid Sans Fallback Full"), url("fonts/DroidSansFallbackFull.ttf");
}

body { font-family: sans-serif, "Symbola", "FreeSans", "Lohit Telugu",
                    "Droid Sans Fallback Full"; }

/* Moieties. */
.belltower header {
    background-color: #aaccaa;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.binary_heat header {
    background-color: #ccaacc;
    border-bottom: 1px solid #ff9999;
    border-right: 1px solid #ff9999;
}

.aestrices header {
    background-color: #aaaacc;
    border-bottom: 1px solid #ff9999;
    border-right: 1px solid #ff9999;
}

/* Intro */
.intro {
    border: 1px solid black;
    padding: 1px;
}
